body {
	font-size: 12pt;
	direction: ltr;
	background-color: white;
	text-decoration: none;
	margin-bottom:10;
	/*outline: solid 1px;*/
	/*margin-top: 15;*/
	/*margin-right: 10;*/
	/*margin-left: 10;*/
	/*margin: auto;*/
    font-family:'メイリオ',
    			'Meiryo',
    			'Hiragino Kaku Gothic Pro',
    			'ヒラギノ角ゴ Pro W3',
    			'Osaka',
    			'ＭＳ Ｐゴシック',
    			sans-serif;
}
/*div{
	outline: none 0px;
	margin:auto;
}*/
/* 印刷しないコントロール */
@media print {
.noprint {visibility:hidden;}
.dspOnly {display:none;}
}
/*基本*/
.BASICSET{
	font-size: 10pt;
	direction: ltr;
	/*font-family: 'MS UI Gothic';*/
}
/* ラベル　センタリング　*/
.LABELS {
	text-align:center;
}
/* ラベル　右寄せ　*/
.LABELS_Right {
	text-align:right;
}
/* ラベル　左寄せ　*/
.LABELS_Left {
	text-align:left;
}
.TABLEHEADER {
	/* filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#E2E2E2, endcolorstr=#B2B2B2, gradienttype=0); */
	font-size:11pt;
	/*font-weight:600;*/
	color:#0000A0;
	background-image: url(../img/TblGrad.png);
	background-repeat:repeat-x;
	background-position: left top;
	width:100%;
	vertical-align:middle;
}
.boxborder{
	border-style:solid;
	border-color:BlueViolet;
	border-width:1px 1px 1px 1px;
    font-family:"メイリオ";
    font-size:14pt;
    margin-top:5px;
    padding-left:5px;
}
.txtShadow{
	color:royalblue;
	text-shadow: 2px 2px 3px #000;
}
.flrigth{
	float:right;
}
.flleft{
	float:left;
}
.wid100{
	width:100px;
}	
.wid260{
	width:260px;
}	
.wid365{
	width:370px;
}	
.timebox{
	margin-left:10px;
}
.datalabel{
	margin-left:120px;
	margin-top:-30px;
}
.offset{
	margin-left:100px;
}
.meas {
	margin : auto;
	padding : 5px 5px 15px 5px;
	width : 200px;
	height: auto;
	text-align:center;
	vertical-align:middle;
}
.btnBox {
	width:auto;
	height:20px;
	text-align:center;		
	vertical-align:middle;	
}
#measbtn a:link {
		position: relative;
		color: Black; 
		font-size: 13px;
		font-weight: normal; 
		background-color: #f9fbfd;
		/* ▼表示形態 */
		display: block;
		/* ▼余白 */
		padding : 3px 20px 3px 20px;
		margin:  1px 1px 1px 1px;
		/* ▼サイズ */
		width: auto;    /*100%;*/
		/* ▼枠線 */
		border-style: solid;
		border-width: 1px;
		border-color: #ccc #999 #999 #ccc;
		background-origin: padding-box;
		/* ▼角丸 */
		-webkit-border-radius: 5px; /* Chrome,Safari */
		-moz-border-radius: 5px;    /* Firefox */
		border-radius: 5px;         /* CSS3 */
		/* ▼文字装飾 */
		text-decoration: none;
		/* ▼文字位置 */
		text-align: center;
		/* ▼背景グラデーション */
		background: -webkit-linear-gradient(top, #e0ebf6 0%, #fcfdfe 48%, #DCE8F5 49%, #DCE8F5 82%, #f2f6fb 100%);
		background: -moz-linear-gradient(top, #e0ebf6 0%, #fcfdfe 48%, #DCE8F5 49%, #DCE8F5 82%, #f2f6fb 100%);
		background: -o-linear-gradient(top, #e0ebf6 0%, #fcfdfe 48%, #DCE8F5 49%, #DCE8F5 82%, #f2f6fb 100%);
		background: linear-gradient(top, #e0ebf6 0%, #fcfdfe 48%, #DCE8F5 49%, #DCE8F5 82%, #f2f6fb 100%);
		/*-ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=#646464,offx=1,offy=1)";    /*IE8*/
		/* ▼文字影 */
		/*text-shadow: #939393 1px 1px 1px; /* FireFox, Webkit, Opera */
		/* ▼ボタン影 */
		-webkit-box-shadow: #000000 0px 2px 3px;
		-moz-box-shadow: #000000 0px 2px 3px;
		box-shadow: #000000 1px 1px 3px; /* 10 10 30 */
		-ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=#939393,offx=1,offy=1)";    /*IE8 */
		outline: none;
}		
#measbtn a:hover {
		position: relative;
		color: Blue; 
		background-color: #eeeeee;	/*#FFFEE8;	/*#e1e1ff;	/*#fffef4;*/
		/* ▼背景グラデーション */
		background-color: #e8f0f8;
		background: -webkit-linear-gradient(top, #ecf3f9 0%, #fff 48%, #e8f0f8 49%, #e8f0f8 82%, #fdfeff 100%);
		background: -moz-linear-gradient(top, #ecf3f9 0%, #fff 48%, #e8f0f8 49%, #e8f0f8 82%, #fdfeff 100%);
		background: -o-linear-gradient(top, #ecf3f9 0%, #fff 48%, #e8f0f8 49%, #e8f0f8 82%, #fdfeff 100%);
		background: linear-gradient(top, #ecf3f9 0%, #fff 48%, #e8f0f8 49%, #e8f0f8 82%, #fdfeff 100%);		/* ▼文字影 */
		/* ▼文字影 */
		text-shadow: #939393 1px 1px 2px; /* FireFox, Webkit, Opera */
		/* ▼ボタン影 */
		-webkit-box-shadow: #000000 0px 2px 3px;
		-moz-box-shadow: #000000 0px 2px 3px;
		box-shadow: #000000 1px 1px 3px; /* 10 10 30 */
		-ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=#737373,offx=1.5,offy=1.5)";    /*IE8 */
}
#measbtn a:active {
		color: Black; 
		background-color: #eeeeee;	/*#FFFEE8;	/*#e1e1ff;	/*#fffef4;*/
		/* ▼背景グラデーション */
		background-color: #d0e0f2;
		background: -webkit-linear-gradient(top, #c8dbf0 0%, #DCE8F5 100%);
		background: -moz-linear-gradient(top, #c8dbf0 0%, #DCE8F5 100%);
		background: -o-linear-gradient(top, #c8dbf0 0%, #DCE8F5 100%);
		background: linear-gradient(top, #c8dbf0 0%, #DCE8F5 100%);
		/* ▼文字影 */
		text-shadow: #939393 1px 1px 2px; /* FireFox, Webkit, Opera */
		/* ▼ボタン影 */
		-webkit-box-shadow: #000000 0px 2px 3px;
		-moz-box-shadow: #000000 0px 2px 3px;
		box-shadow: #000000 1px 1px 3px; /* 10 10 30 */
		-ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=#939393,offx=1,offy=1)";    /*IE8 */
		outline: none;
		position: relative;
		top: 0.1%;
		left: 0.1%;
}
/*子要素*/
.wdimg {
	top:0;
	left:0;
	right:0;
	bottom:0;
	/*border:2px solid black ;  debug*/
	margin:auto;
	vertical-align:middle;	
	position: absolute;
}
/*親要素*/
.wds {
	position:relative;
	background: url(../img/wd_back01.png) center center no-repeat;
 	width:110px;
	height:110px;
	/*border:2px solid black;*/
	margin:0 auto;	
	background-size: contain;
}
/*src="./img/AniArrow150.gif"*/
.roundbox {
	vertical-align:middle;
	text-align:center;
	width:210px;
	height:25px;
	border:2px solid black;	
	margin:0 auto;		
    font-family:"メイリオ";
    font-size:14pt;	
}
.roundboxV {
	vertical-align:middle;
	text-align:center;
	width:25px;
	height:260px;
	border:2px solid black;	
	margin:0 auto;		
    font-family:"メイリオ";
    font-size:14pt;	
}
.outtbl {
	border-width:0px;
	margin:0 auto;
	text-align:center;
	vertical-align:middle;
}