body {
}

.wind {
  display:table;
  /*width:250px;
  height:250px;*/
}

/*.MyTable > div {
    display:table-column;
    border:1px solid #239eef;
}*/
.txt {
	text-align:center;
}
div.tp {
	width:100%;
	height:10%;
    /*border:1px solid #239eef;*/
    clear:both;
    background-color:Beige;
    }
div.lft {
	float:left;
	width:10%;
	height:80%;
    border-width:0px;
    /*border:1px solid #239eef;*/
    background-color:Aqua;
    
}
div.cnt {
	float:left;
	width:80%;
	height:80%;
    border-width:0px;
    background-color:Brown;
    /*border:1px solid #239eef;*/
    }
div.rgt {
	float:right;	
	width:10%;
	height:80%;	
    border-width:0px;    
    /*border:1px solid #239eef;*/
    }
.mdl {
	display: -webkit-flex;			/* Safari */
	display: flex;
	-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
	align-items: center; /* 縦方向中央揃え */
	-webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
	justify-content: center; /* 横方向中央揃え */
	}