body 
{
	font-size: 9pt;
	direction: ltr;
	background-color: white;
	text-decoration: none;
	/*text-align:center;*/
	/*outline: solid 1px;*/
	/*margin-top: 15;*/
	/*margin-right: 10;*/
	/*margin-left: 10;*/
	/*margin: auto;*/
}
/*div{
	outline: none 0px;
	margin:auto;
}*/
.accordionDiv {
	margin: auto;
	vertical-align: top;
	width: 100%;
	padding: 20px 0px 0px 0px;       
	min-width: 500px;
}
.accordionHeader {
	/*border: 1px solid #2F4F4F;*/
	color:White;
	background-color:#2E4F7B;
	font-size:13pt;
	font-weight:600;
	padding-top:2px;
	padding-left:2px;
	padding-bottom:2px;
	margin-top:5px;
	vertical-align:middle;
	cursor:pointer;
	-ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff0F99DD,endColorStr=#ff0807BB,gradientType=0);
	background: -webkit-gradient(linear, left top, left bottom, from(#ff0F99DD), to(#ff0807BB)); /* Chrome,Safari */
	background: -moz-linear-gradient(top, #ff0F99DD, #ff0807BB); /* Firefox */
	background: -o-linear-gradient(top, #ff0F99DD, #ff0807BB);   /* Opera */
	background: linear-gradient(top, #ff0F99DD, #ff0807BB);      /* CSS3 */
	width: 100%;
	TEXT-ALIGN:left;
	background-image: url(../img/TblGradNote.png);
	background-repeat:repeat-x;
	background-position: left top;
	border-style:none;
	min-width: 500px;
}
.collapsePanel {
	width: 100%;
	border-style:none;
	text-align:left;
	Font-Size: 12pt;
	background-color: #E0FFFF;   /*LightCyan;*/
	overflow:hidden;
	
	/*padding-top:3px;*/
	/*padding-left:3px;*/
	/*padding-bottom:3px;*/
	/*vertical-align:middle;*/
}
.headBlock {
	/*filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffccff00,endColorStr=#ff99ff00,gradientType=2);	*/
	-ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff0000FF,endColorStr=#ff000047,gradientType=0);
	background: -webkit-gradient(linear, left top, left bottom, from(#ff0000FF), to(#ff000047)); /* Chrome,Safari */
	background: -moz-linear-gradient(top, #ff0000FF, #ff000047); /* Firefox */
	background: -o-linear-gradient(top, #ff0000FF, #ff000047);   /* Opera */
	background: linear-gradient(top, #ff0000FF, #ff000047);      /* CSS3 */
	background-image: url(../img/TblGradMaster.png);
	background-repeat:repeat-x;
	background-position: left top;
	min-width: 700px;
}

/* ラベル　左寄せ　*/
.LABELS_Left {
	text-align: left;
}
.LABELS_Center {
	text-align: center;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
}
.TABLEHEADER {
	/* filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#E2E2E2, endcolorstr=#B2B2B2, gradienttype=0); */
	font-size:10pt;
	font-weight:600;
	color:#0000A0;
	background-image: url(../img/TblGrad.png);
	background-repeat:repeat-x;
	background-position: left top;
}
/* グラデーションのテキストボックス */
.TEXTBOXES {
	font-size: 10pt;
	text-align: center;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=PowderBlue, endcolorstr=white, gradienttype=1);
	-ms-ime-mode : disabled;
	width: 100%;
	height: 80%;
}
/*コメント欄*/
.TEXTBOXCOMMENT 
{
	-ms-ime-mode : active;
}
.selList{
	border :0px;
	padding-left:10;
	padding-right:10px;
	padding-bottom:0px;
	padding-top:0;
}
body,.TEXTBOXES,.TEXTBOXCOMMENT
{
		font-family:'メイリオ',
				'Meiryo',
				'Hiragino Kaku Gothic Pro',
				'ヒラギノ角ゴ Pro W3',
				'Osaka',
				'ＭＳ Ｐゴシック',
				sans-serif;
}
.browser {
	margin: 5px auto 5px auto;
	padding: 5px 1px 3px 1px;
	vertical-align: middle;
	text-align: left;
	font-size: 9pt;
	width: 360px;
	border-style:none;
	/*border-width: 2px;
	border-style:outset;
	border-color:#D3D3D3;*/
	}
.browser LI
{
	margin-left:-12px;
}

.NOTICE 
{
	background-color:#FFF8DC;
	margin: 10px auto 10px auto;
	padding: 3px 3px 3px 5px;
	font-size:10pt;
	color:Navy;
	border:Ridge 2px Olive ;
	width: 334px;
	text-align: left;	
	-webkit-border-radius: 5px; /* Chrome,Safari */
	-moz-border-radius: 5px;    /* Firefox */
	border-radius: 5px;         /* CSS3 */ 
}
.NOTICEA
{
	background-color:#F0FFF0;
	margin: 10px auto 10px auto;
	padding: 3px 3px 3px 5px;
	font-size:10pt;
	color:Navy;
	border:Ridge 2px Olive ;
	text-align: left;	
	width: 334px;
	text-align: left;	
	-webkit-border-radius: 5px; /* Chrome,Safari */
	-moz-border-radius: 5px;    /* Firefox */
	border-radius: 5px;         /* CSS3 */ 
}
.NOTICEB {
	margin: 10px auto 10px auto;
	padding: 3px 3px 3px 3px;
	vertical-align: middle;
	text-align: center;
	font-size: 10pt;
	width: 350px;
	border-width: 2px;
	border-style:Solid;
}
.FAVORIT {
	margin: 10px auto 3px auto;
	padding: 1px 5px 1px 5px;
	vertical-align: middle;
	background-color:#feefed;
	text-align: center;
	font-size: 10pt;
	width: 334px;
	border-width: 2px;
	border-style:Solid;
	border-color:#F4A460;
	color:#1E90FF;
	-webkit-border-radius: 5px; /* Chrome,Safari */
	-moz-border-radius: 5px;    /* Firefox */
	border-radius: 5px;         /* CSS3 */ 
}
.NOTICE_Error 
{
	background-color:#FAFAD2;
	margin: 0px;
	padding: 1px 1px 1px 1px;
	font-size:10pt;
	color: #FF0000;
	border:Ridge 2px Olive ;
	width: 340px;
	text-align: left;	
}
.leftspace5 {
	margin-left:5px;
}
.leftspace10 {
	margin-left:10px;
}
.collapseImgButton {
	margin-left: 30px;
	margin-right:0px;
	vertical-align:middle;
	/*padding-top: 4px;*/
}
.imgbutton {
	margin-bottom:5px;
	margin-top:5px;
}
.imecontrol .logintextboxcel .logintextheadcell .logintextbox
{
	-webkit-ime-mode:disable;
	-moz-ime-mode:disable;
	-o-ime-mode:disable;
	-ms-ime-mode:disable;
}
.logintextheadcell {
	text-align:right;
	vertical-align:middle;
	padding:2px 5px 2px 0px;
	width:40%;
}
.logintextboxcell {
	text-align:left;
	vertical-align:text-bottom;
	padding:2px 2px 2px 10px;
	width:auto;
}
.logintableinside {
	border: 1px;
	padding: 0px;
	width: 338px;
	border-spacing: 0px;
	border-collapse:collapse;
	text-align:center;
	vertical-align:middle;
	margin:auto;
}
.loginform {
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.logintextbox {
	background-color: #FFFFF0;   /*Ivory;*/
	font-size: 11pt;
	width: 150px;
	vertical-align:middle
}
.ShowAreaAlert {
	color:White;
	border-radius: 4px;
	text-shadow: #000000 1px 1px 2px;
	padding-right:20px;
	padding-top: 2px;
	display:block;
	/*background-color:red;*/
	/*border-style: solid;*/
	/*border-width: 1px;*/
	/*border-color: #ff7d7d;*/
	/*box-shadow: 1px 1px 2px 1px #B70000 inset;*/
	/*background-image: url(../img/alertback.gif);*/
	/*background-repeat:repeat-x;*/
	/*background-position: left top;*/
	background-color: #ff6060;
	animation: bg-color 1200ms ease-out 700mss infinite;            /*alternate*/
	-webkit-animation: bg-color 1200ms ease-out 700ms infinite;     /*alternate*/
}
@-webkit-keyframes bg-color {
  0% { background-color: #ff6060; }
  100% { background-color: #ffe5e5; }
}
@keyframes bg-color {
  0% { background: #ff6060; }
  100% { background: #ffe5e5; }
}
#RBLConstructionList label {
	width: 600px;
}
.allSiteList {
	TEXT-ALIGN:left;
	min-width: 500px;
}
.siteListButton {
	TEXT-ALIGN:center;
	min-width: 500px;
}
#TABLE1 {
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	border: 2px Solid #3366FF; 
	width: 340px; 
	vertical-align: text-top; 
	text-align: center; 
	border-spacing: 0px; 
	/*border-collapse: collapse; これがあると角丸にならない*/ 
	border-collapse: separate;
	border-radius: 5px;         /* CSS3 */ 
	border-spacing: 0;
	overflow: hidden;		
}
.intext{
	background-color:Ivory;
	border-style:ridge;
	font-size:11pt;
	ime-mode:disabled;
	width:150px;
	margin-left:5px;
	margin-right:5px;
}
.tblogin{
	text-align:left;
	height:35px;
	width:210px;
	vertical-align:middle;
	
}
.copyR {
	Border-Style:none;
	Font-Size:X-Small;
	Color:RoyalBlue;
	TEXT-ALIGN:center;
	margin: 0px auto 0px auto;
}
table.tblOutline {
	width:335px;
	border-collapse:collapse;
	border:0px;
	text-align:center;
}

table.tblOutline tr td {
	padding:0px;
}
.searchbox{
	color:DarkGray;
	border-bottom: 1px solid DarkGray;
	border-left: 1px solid DarkGray;
	padding:3px;
	background-color:WhiteSmoke;
	text-align:right;
	vertical-align:baseline;
	font-size:9pt;
	position:fixed;
	top:0px;
	right:0px;
	/* ▼角丸 */
	box-shadow:-3px 2px 6px 0px #b7b7b7;
	-moz-box-shadow:-3px 2px 6px 0px #b7b7b7;
	-webkit-box-shadow:-3px 2px 6px 0px #b7b7b7;
	border-radius:0px 0px 0px 5px ;				/* CSS3 */
	-moz-border-radius:0px 0px 0px 5px ;		/* Firefox */
	-webkit-border-radius:0px 0px 0px 5px ;		/* Chrome,Safari */
}
.sbtn{
	color:#5f5f5f;	/* DarkGray;*/
}
.findback{
	background-color:Yellow;
}
.calBtn {
	vertical-align:middle;
	}