body
{
	font-size: 10pt;
	direction: ltr;
	background-color: white;
	text-decoration: none;
	/*outline: solid 1px;*/
	/*margin-top: 15;*/
	/*margin-right: 10;*/
	/*margin-left: 10;*/
	/*margin: auto;*/
}
/*div{
	outline: none 0px;
	margin:auto;
}*/
/* 印刷しないコントロール */
@media print {
.noprint {visibility:hidden;}
.dspOnly {display:none;}
}
/*基本*/
.BASICSET{
	font-size: 10pt;
	direction: ltr;
}
.BTNHEADER_PRINT {
	margin-left:60px;
	margin-right:10px;
	padding-top: 4px;
}
.BTNHEADER_REDRAW {
	margin-left:350px;
	margin-right:15px;
	padding-top: 4px;
}
.BTNHEADER_CLOSE {
	padding-top: 4px;
}
.noaccordionHeader {
	border: 1px solid #2F4F4F;
	color:White;
	/*background-color:#2E4F7B;*/
	/*font-family:MS UI Gothic;*/
	font-size:13pt;
	font-weight:600;
	padding-top:2px;
	padding-left:2px;
	padding-bottom:2px;
	margin-top:5px;
	vertical-align:middle;
	-ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff0F99DD,endColorStr=#ff0807BB,gradientType=0);
	TEXT-ALIGN:left;
	background-image: url("../img/TblGradMaster.png");
	background-repeat:repeat-x;
	background-position: left top;
}
.VertBottom
{
	display:table-cell;
	vertical-align:bottom;
	border-style: none;
}
DIV#PnlthumImg input
{
	background-image:url("../img/ajax-loader.gif");
	background-color:#000000;
	background-repeat:no-repeat;
	background-position: center center;
	border:ridge 2px #909090;
}
.imgBtnLoaderBase
{
	background-image:url("../img/ajax-loader.gif");
	background-color:#000000;
	background-repeat:no-repeat;
	background-position: center center;
	border: ridge 4px #909090;
	Border-Width:4px;
	Border-Style:Ridge;
	margin:0px auto 0px auto;
	vertical-align: top;
}	
body,.BASICSET
{
	font-family:'メイリオ',
				'Meiryo',
				'Hiragino Kaku Gothic Pro',
				'ヒラギノ角ゴ Pro W3',
				'Osaka',
				'ＭＳ Ｐゴシック',
				sans-serif;
}
.imgBtn {
	margin: 5px 1px -6px 1px;
}
.photolabel{
	width:120px;
	border:2px ridge #909090;
	font-size: 9pt;
	margin: 0px 1px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.GoBackBtn{
	margin:4px auto 2px auto;
	width:95px;
}
.photolabelPanel{
	text-align:Right;
	Border-Style:None;
	padding-right:0px;
	display: inline-block;
}