body {
	font-size: 10pt;
	direction: ltr;
	background-color: Ivory;
	text-decoration: none;
	margin-bottom:10;
	/*outline: solid 1px;*/
	/*margin-top: 15;*/
	/*margin-right: 10;*/
	/*margin-left: 10;*/
	/*margin: auto;*/
    font-family:'メイリオ',
    			'Meiryo',
    			'Hiragino Kaku Gothic Pro',
    			'ヒラギノ角ゴ Pro W3',
    			'Osaka',
    			'ＭＳ Ｐゴシック',
    			sans-serif;
	padding : 1px 0px 1px 2px;
	margin: auto;
	word-break: keep-all;
	word-wrap:break-word;
}