/*水位観測情報 マスターページ用*/
body
{
	font-size: 8pt;
	direction: ltr;
	background-color: white;
	text-decoration: none;
	/*outline: solid 1px;*/
	margin: 0px;
	/*margin-right: 10;*/
	/*margin-left: 0px;*/
	/*margin-right: 0px;*/
	/*margin: auto;*/
	font-family:'メイリオ',
			'Meiryo',
			'Hiragino Kaku Gothic Pro',
			'ヒラギノ角ゴ Pro W3',
			'Hiragino Kaku Gothic Pro',
			'Osaka',
			'ＭＳ Ｐゴシック',
			sans-serif;
	padding:0px;
	outline: none 0px;
}
/*div{
	outline: none 0px;
	margin:auto;
}*/
/* 印刷時に使用されるスタイル */
@media print {
.noprint {visibility:hidden;}
.dspOnly {display:none;}
.marg {margin-left: 10px;
	   margin-top: 8px;}
}
/* jQueryによる指定用 */
.TableAlarm {
	font-size: 10pt;
	height:auto;
	width:auto;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin:0px 0px 0px 0px;
	vertical-align: middle;
	text-align: center;
	/*-webkit-user-modify: read-only;*/
	/*-webkit-user-select: none;*/
	/*-moz-user-select: none;*/
}

#MenuTable, #MyAccordion {
	-webkit-box-shadow: 0px 10px 5px 7px rgba(0,0,0,.4);
	-moz-box-shadow: 0px 10px 5px 7px rgba(0,0,0,.4);
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,.4);
	/*box-shadow: 0px 2px 4px rgba(0,0,0,.4);*/
	background:;
}
.title{
	height:auto;
	font-size: 14pt;
	color: white;
	text-align:center;
	vertical-align: middle;
	background-color: #0000EC;
	border:none;
	-ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffccff00,endColorStr=#ff99ff00,gradientType=2);
	background-image: url(../img/TblGradMaster.png);
	background-repeat:repeat-x;
	background-position: left top;
}
.header {
	margin-top: 0px;	
	text-align: left;
	height:70px;
	_height: 70px;		/*IE6*/
	width:100%;
	position:fixed;
	z-index:3;
	background-color:Transparent;
}
.headBlock {
	-ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffccff00,endColorStr=#ff99ff00,gradientType=2);
	background-image: url(../img/TblGradMaster.png);
	background-repeat:repeat-x;
	background-position: left top;
	font-family:'メイリオ','Meiryo','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Osaka','ＭＳ Ｐゴシック',sans-serif;
	text-align:center;
	border-spacing: 0px;
	border-width: 1px 0px 0px 0px;
	border-bottom: 0px;
	border-style: solid;
	border-color: #FFFFFF;
	min-width: 500px;
}
.headBlockMenu{
	-ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffccff00,endColorStr=#ff99ff00,gradientType=2);
	background-color: #000047;
	background-image: url(../img/TblGradMaster.png);
	background-repeat:repeat-x;
	background-position: left top;
	min-width: 200px;
	border-width: 1px 0px 0px 1px;
	border-style: solid;
	border-color: #FFFFFF;
}
.headBlockLogin {
	-ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffccff00,endColorStr=#ff99ff00,gradientType=2);
	background-color: #000047;
	background-image: url(../img/TblGradMaster.png);
	background-repeat:repeat-x;
	background-position: left top;
	padding: 0px 0px 0px 0px;
	table-layout:fixed;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-size: 9pt;
	width: 130px;
	min-width: 130px;
	margin: 0px auto 0px auto;
	text-align:center;
	border-width: 1px 0px 0px 1px;
	border-style: solid;
	border-color: #FFFFFF;
	}
.HR {
	color: #0000ff; /* 線の色(IE用) */
	background-color: #0000ff; /* 線の色(NN用) */
	height: 1px; /* 線の太さ */
	border: 0px; /* 枠の太さ */
	-ms-filter: Alpha(opacity=100, finishopacity=0, style=3); /* フィルタ */
}
/*データ一覧用ラベル*/
/*	background-color:#C8FFC4;*/
/*	float:inherit;*/
/*	font-size:10pt;*/
/* 共通部分のまとめ */
.DataLBLCenter,.DataLBLCenterB,.DataLBLLeft,.DataLBLLeftB,.DataLBLRight,.DataLBLRightB,.DataLBLCenterM,
  .DataLBLCenterBM,.DataLBLLeftM,.DataLBLLeftBM,.DataLBLRightM,.DataLBLRightBM,.DataLBLRightBB,.DataLBLCenterBMR,
  .DataLBLCenterBR,.DataLBLLeftBR,.DataLBLRightBR,.DataLBLCenterR,.DataLBLLeftR,.DataLBLRightR {
	font-family: 'MS UI Gothic','Lucida Grande', Meiryo, sans-serif;
	vertical-align: middle;
	position:absolute;
	padding:1px 2px 1px 2px ;
	white-space:nowrap;
	-moz-box-shadow: 1px 1px 2px #797979;     /* Firefox用*/
	-webkit-box-shadow: 1px 1px 2px #797979;  /*Safari,Google Chrome用*/
	box-shadow: #797979 1px 1px 2px;          /* 10 10 30 */
}
.DataLBLCenterNS,.DataLBLLeftNS,.DataLBLRightNS,.DataLBLCenterNSB,.DataLBLLeftNSB,.DataLBLRightNSB,.DataLBLCenterT {
	vertical-align: middle;
	position:absolute;
	white-space:nowrap;
	padding:1px 0px 1px 0px;
}
.DataLBLCenter,.DataLBLCenterB,.DataLBLCenterM,.DataLBLCenterBM,.DataLBLCenterBMR,.DataLBLCenterBR,.DataLBLCenterR,.DataLBLCenterNS,.DataLBLCenterNSB {
	text-align: center;
}
.DataLBLLeft,.DataLBLLeftB,.DataLBLLeftM,.DataLBLLeftBM,.DataLBLLeftBR,.DataLBLLeftR,.DataLBLLeftBMR,.DataLBLLeftNS,.DataLBLLeftNSB {
	text-align: left;
}
.DataLBLRight,.DataLBLRightB,.DataLBLRightM,.DataLBLRightBM,.DataLBLRightBB,.DataLBLRightBR,.DataLBLRightR,.DataLBLRightBMR,.DataLBLRightNS,.DataLBLRightNSB {
	text-align: right;
}
.DataLBLCenterB,.DataLBLLeftB,.DataLBLRightB,.DataLBLCenterBM,.DataLBLLeftBM,.DataLBLRightBM,.DataLBLRightBB,
	.DataLBLCenterBMR,.DataLBLLeftBMR,.DataLBLRightBMR,.DataLBLCenterNSB,.DataLBLLeftNSB,.DataLBLRightNSB {
	font-weight: 700;
}
.DataLBLCenterT {
	text-align: center;
	background-color: transparent;
	border: 0px 0px 0px 0px;
}
.DataLBLCenterBR,.DataLBLLeftBR,.DataLBLRightBR,.DataLBLCenterBMR,.DataLBLLeftBMR,.DataLBLRightBMR,.DataLBLRightBBR,.DataLBLCenterR,.DataLBLLeftR,.DataLBLRightR,.DataLBLCenterMR,.DataLBLLeftMR,.DataLBLRightMR {
	-webkit-border-radius: 4px; /* Chrome,Safari */
	-moz-border-radius: 4px;    /* Firefox */
	border-radius: 4px;         /* CSS3 */
}
/*-------------NEW-----------------*/
.DataLBL{
	font-family: 'MS UI Gothic','Lucida Grande', Meiryo, sans-serif;
	vertical-align: middle;
	position:absolute;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:1px;
	padding-top:1px;
	white-space:nowrap;
}
.LCe {
	text-align: center;
}
.LLe {
	text-align: left;
}
.LRi {
	text-align: right;
}
.LCeB {
	text-align: center;
	font-weight: 700;
}
.LLiB {
	text-align: left;
	font-weight: 700;
}
.LRiB {
	text-align: right;
	font-weight: 700;
}
.Shd{
	-moz-box-shadow: 1px 1px 2px #797979;     /* Firefox用*/
	-webkit-box-shadow: 1px 1px 2px #797979;  /*Safari,Google Chrome用*/
	box-shadow: #797979 1px 1px 2px;          /* 10 10 30 */
}
.Opa9 {
	opacity: 0.9;
}
.Opa8 {
	opacity: 0.8;
}
.Opa6 {
	opacity: 0.6;
}
.Opa4 {
	opacity: 0.4;
}
.Opa0 {
	background-color: rgba(255,255,255,0);
}
.Opa09 {
	background-color: rgba(204,255,255,0);
}
.Opa08 {
	background-color: rgba(229,255,255,0);
}
.Br8{
	-webkit-border-radius: 8px; /* Chrome,Safari */
	-moz-border-radius: 8px;    /* Firefox */
	border-radius: 8px;         /* CSS3 */
}
.Br6{
	-webkit-border-radius: 6px; /* Chrome,Safari */
	-moz-border-radius: 6px;    /* Firefox */
	border-radius: 6px;         /* CSS3 */
}
.Br4{
	-webkit-border-radius: 4px; /* Chrome,Safari */
	-moz-border-radius: 4px;    /* Firefox */
	border-radius: 4px;         /* CSS3 */
}
.FW7{
	font-weight: 700;
}
.VC{
	display: table-cell;
	vertical-align: middle;
}
/* HTMLタグ一覧のページのミニボックス */
/*.onebox1 {
	border-width: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
}*/
.NowrapLabel {
	white-space: nowrap;
	margin-bottom: 5px;
}

.AlertBox{
	width: auto;
	height: 18px;
	padding: 0px;
	Border:2px Ridge White;
	Font-Size:9pt;
	Color:#FFFACD;      /*Lemonchiffon*/
	background-color: Red;
	/*white-space: nowrap;*/
	margin:auto auto auto 15px;
	vertical-align:Middle;
	display: inline-block;
	overflow-y: auto;	
}
/*マウスポインタの座標表示*/
#mpxy {
	z-index:3;
	position:fixed;
	top:0px;
	left:0px;
	width:90px;
	color:black;
	background-color:Silver;
	font-size:7pt;
	border-width:1px;
	border-style:solid;
	text-align:center;
}
/*.topImage {
	margin:0px;
	border-style:none;
	padding: 0px;
	_margin-top:5px;		/*IE6
	_margin-right:3px;		/*IE6
	_margin-bottom:0px;		/*IE6
	_margin-left:3px;		/*IE6
	_position: absolute;	/*IE6
}*/
.statusTable {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
	text-align: center;
	border: 3px ridge silver;
	border-spacing: 1px;
	border-collapse:separate;
	background-color: White;
	font-size: 11pt;
	font-family: MS UI Gothic;
	white-space: nowrap;
}
.statusTableCell {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 1px ridge silver;
	border-spacing: 0;
	border-collapse: collapse;
	white-space: nowrap;
	font-size: 10pt;
	min-height:17px;
	height:17px;
}
.periodTable {
	border:3px ridge silver;
	background-color:#E0FFFF;       /*LightCyan;*/
	padding:1px 1px 1px 1px;
	margin-left: 2px;
	font-size:10pt;
	/* ▼角丸 */
	-webkit-border-radius: 5px; /* Chrome,Safari */
	-moz-border-radius: 5px;    /* Firefox */
	border-radius: 5px;         /* CSS3 */
	_position: absolute;		/*IE6*/
	_top:1100px;				/*IE6*/
	}
.periodCol1 {
	border:none;
	white-space:nowrap;
	padding-right:10px;
	}
/*右側ペインの大外枠*/
#ctl00_CntplHolder_MainContent {
	display:block;
	position: relative;
	margin: 0px;
	padding: 0px;
	height:100%;
	}
/*左側メニュー*/
.columnL {
	z-index:2;
	display:inline;
	border-style: none;
	/*border-color: inherit;*/
	/*border-width: medium;*/
	position: fixed;
	/*float:left;*/
	background-color:transparent;   /*white*/
	min-width:100px;
	min-height:200px;
	margin:0px 0px 5px 0px;
	padding:65px 5px 10px 1px;    /*84px 5px 10px 1px;*/
	height:100%;
	overflow-y:auto;
	_padding-top: 0px;		/*IE6*/
}
/*右側ペインの開始位置*/
.columnR {
	top:68px;
	width:100%;
	height : -webkit-calc(100% - 68px) ;
	height: calc(100% - 68px) ;
	position:relative;
	min-width:200px;
	min-height:200px;
	border:none;
	padding: 0px;
	background-color:white;
	margin: 0px;
	position:fixed;
	/*display:table;*/
	/*float:left;*/
	/*overflow:auto;*/
	/*white-space: nowrap;*/
	}
/*.imgBack{
	width:100%;
	height: 100%;
	/*overflow:scroll;
	border:none;
	padding: 0px;
	margin: 0px;
	transition: all 1s ease-in-out;
	background-color:#C1DBFF;
}*/
.Content {
	clear:both;
	display:block;
	min-height:0px;
	background-color:white;
	width:auto;
	}
.Content:after {
	/*height:0px;
	content:".";*/
	display:block;
	clear:both;
	}

/*AccordionMenu*/
#ctl00_MyAccordion{
	box-shadow: #444 2px 2px 4px;
}
/* ==== 第1階層(最上位) ==== */
.accordionHeader {
		position: relative;
		padding: 5px;
		border-top-width: 1px ;
		border-left-width: 1px ;
		border-right-width: 1px ;
		border-bottom-width: 0px ;
		border-style: solid;
		border-color:  rgb(47, 79, 79); 
		color: white; 
		font-size: 12px; 
		font-weight: normal; 
		margin-top: 1px;
		cursor: pointer; 
		background-color: #0146BA; /* rgb(56, 67, 163); /*rgb(46, 77, 123);*/
		outline: none;
		/*border-radius: 7px;         /* CSS3 */
}

#master_content, .accordionHeader:hover {
		background-color: #888fd7	/*rgb(46, 77, 123);*/
}

/* #で始まるものはIDを示す */
	#master_content .accordionHeader, a:link, a:visited {
		position: relative;
		color: Black;
		/*font-size: 12px; */
		font-weight: normal;
		/*background-color: #eeeeee;	/*#FFFEE8;	/*#e1e1ff;	/*#fffef4;*/
		background-color: #f9fbfd;
		/* ▼表示形態 */
		display: block;
		/* ▼余白 */
		padding: 0.3em 0.1em ;  /*上下　左右*/
		/*margin:  0.3em auto;*/
		margin:  1px 1px auto auto;
		/* ▼サイズ */
		width: auto;    /*100%;*/
		/* ▼枠線 */
		border-style: solid;
		border-width: 1px;
		border-color: #ccc #999 #999 #ccc;
		/*border-color: hsl(0, 0%, 67%);*/
		/*background-clip: padding-box;*/
		background-origin: padding-box;
		/*background-size: contain;*/
		/* ▼角丸 */
		-webkit-border-radius: 5px; /* Chrome,Safari */
		-moz-border-radius: 5px;    /* Firefox */
		border-radius: 5px;         /* CSS3 */
		/* ▼文字装飾 */
		text-decoration: none;
		/* ▼文字位置 */
		text-align: center;
		/* ▼背景グラデーション */
		background: -webkit-linear-gradient(top, #e0ebf6 0%, #fcfdfe 48%, #DCE8F5 49%, #DCE8F5 82%, #f2f6fb 100%);
		background: -moz-linear-gradient(top, #e0ebf6 0%, #fcfdfe 48%, #DCE8F5 49%, #DCE8F5 82%, #f2f6fb 100%);
		background: -o-linear-gradient(top, #e0ebf6 0%, #fcfdfe 48%, #DCE8F5 49%, #DCE8F5 82%, #f2f6fb 100%);
		background: linear-gradient(top, #e0ebf6 0%, #fcfdfe 48%, #DCE8F5 49%, #DCE8F5 82%, #f2f6fb 100%);
		/*-ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=#646464,offx=1,offy=1)";    /*IE8*/
		/* ▼文字影 */
		/*text-shadow: #939393 1px 1px 1px; /* FireFox, Webkit, Opera */
		/* ▼ボタン影 */
		-webkit-box-shadow: #000000 0px 2px 3px;
		-moz-box-shadow: #000000 0px 2px 3px;
		box-shadow: #000000 1px 1px 3px; /* 10 10 30 */
		-ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=#939393,offx=1,offy=1)";    /*IE8 */
		outline: none;
		}

	#master_content .accordionHeader, a:hover {
		position: relative;
		color: Blue;
		background-color: #eeeeee;	/*#FFFEE8;	/*#e1e1ff;	/*#fffef4;*/
		/* ▼背景グラデーション */
		background-color: #e8f0f8;
		background: -webkit-linear-gradient(top, #ecf3f9 0%, #fff 48%, #e8f0f8 49%, #e8f0f8 82%, #fdfeff 100%);
		background: -moz-linear-gradient(top, #ecf3f9 0%, #fff 48%, #e8f0f8 49%, #e8f0f8 82%, #fdfeff 100%);
		background: -o-linear-gradient(top, #ecf3f9 0%, #fff 48%, #e8f0f8 49%, #e8f0f8 82%, #fdfeff 100%);
		background: linear-gradient(top, #ecf3f9 0%, #fff 48%, #e8f0f8 49%, #e8f0f8 82%, #fdfeff 100%);		/* ▼文字影 */
		/* ▼文字影 */
		text-shadow: #939393 1px 1px 2px; /* FireFox, Webkit, Opera */
		/* ▼ボタン影 */
		-webkit-box-shadow: #000000 0px 2px 3px;
		-moz-box-shadow: #000000 0px 2px 3px;
		box-shadow: #000000 2px 2px 4px; /* 10 10 30 */
		-ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=#737373,offx=1.5,offy=1.5)";    /*IE8 */
		top: -1px;
		left: -0.5%;
		}
	#master_content .accordionHeader, a:active {
		color: Black;
		background-color: #eeeeee;	/*#FFFEE8;	/*#e1e1ff;	/*#fffef4;*/
		/* ▼背景グラデーション */
		background-color: #d0e0f2;
		background: -webkit-linear-gradient(top, #c8dbf0 0%, #DCE8F5 100%);
		background: -moz-linear-gradient(top, #c8dbf0 0%, #DCE8F5 100%);
		background: -o-linear-gradient(top, #c8dbf0 0%, #DCE8F5 100%);
		background: linear-gradient(top, #c8dbf0 0%, #DCE8F5 100%);
		/* ▼文字影 */
		text-shadow: #939393 1px 1px 2px; /* FireFox, Webkit, Opera */
		/* ▼ボタン影 */
		-webkit-box-shadow: #000000 0px 2px 3px;
		-moz-box-shadow: #000000 0px 2px 3px;
		box-shadow: #000000 1px 1px 3px; /* 10 10 30 */
		-ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=#939393,offx=1,offy=1)";    /*IE8 */
		outline: none;
		position: relative;
		top: 0.1%;
		left: 0.1%;
		}
.accordionHeaderNotSelected {
		padding: 5px;
		border-top-width: 1px ;
		border-left-width: 1px ;
		border-right-width: 1px ;
		border-bottom-width: 0px ;
		border-style: solid;
		border-color:  rgb(47, 79, 79);
		color: white;
		font-size: 12px;
		font-weight: normal;
		margin-top: 1px;
		margin-bottom: 1px;
		cursor: pointer;
		background-color: yellow;	/*rgb(56, 67, 163);    /*rgb(80, 140, 179);*/
		}
/*第1階層 選択部分*/
.accordionHeaderSelected {
		/*border-radius: 6px 6px 0px 0px;         /* CSS3 */
		padding: 5px; 
		padding-bottom: 4px;
		border-top-width: 1px ;
		border-left-width: 1px ;
		border-right-width: 1px ;
		border-bottom-width: 0px ;
		border-style: solid;
		border-color:  rgb(47, 79, 79);
		color: rgb(252, 255, 190);
		font-size: 12px;
		font-weight: bold;
		margin-top: 1px;
		margin-bottom: 0px;
		cursor: pointer;
		background-color: #3C95EE;	/*rgb(56, 125, 163);    /*rgb(80, 140, 179);*/
	/* ▼文字影 */
		text-shadow: #7b7b7b 2px 2px 3px; /* FireFox, Webkit, Opera */
		}
	#master_content .accordionHeaderSelected a {
		color: rgb(255, 255, 255);
		text-decoration: none;
		}
	#master_content .accordionHeaderSelected a:hover {
		background: none;
		text-decoration: underline;
		font-weight:bold;
		}
/* 第1階層の展開部分 */
.accordionContent {
		padding-left : 5px;
		border-left-width: 1px;
		border-right-width: 1px;
		border-top-width: 0px;
		border-bottom-width:1px;
		border-style: Solid;
		border-color: rgb(47, 79, 79);
		background-color: #3C95EE;		/*rgb(56, 125, 163); /*rgb(211, 222, 239); */
		font-size: 12px;
		}

/* ==== 第2階層 ==== */
.accordionHeaderSub {
		padding: 2px;
		border-width: 0px;
		border-top-width: 1px;
		border-left-width: 1px;
		/*border-bottom-width: 1px;*/
		border-style: Solid;
		border-color: rgb(47, 79, 79);
		color: white;
		font-size: 12px;
		font-weight: normal;
		margin: 0px 0px 0px 0px;
		cursor: pointer;
		background-color: rgb(84, 98, 224);
		}

	#master_content .accordionHeaderSub a {
		/*color: rgb(255, 255, 255);
		text-decoration: none;*/
		color: white;
		font-size: 12px;
		font-weight: normal;
		background: none;
		text-decoration:none;
		}

	#master_content .accordionHeaderSub a:hover {
		/*background: none;
		text-decoration:underline;
		font-weight:bold;*/
		color: white;
		font-size: 12px;
		font-weight: normal;
		background: none;
		text-decoration:none;
		}
	#master_content .accordionHeaderSub a:link {
		color: white;
		font-size: 12px;
		font-weight: normal;
		background: none;
		text-decoration:none;
		border-style: solid;
		border-width: 1px;
		border-color: #ccc #999 #999 #ccc;
		}
	#master_content .accordionHeaderSub a:visited {
		color: black;
		font-size: 12px;
		font-weight: normal;
		background: none;
		text-decoration:none;
		}

/* 中のアコーディオンの設定 */
.accordionHeaderSelectedSub {
		padding: 2px;
		border-width: 0px;
		border-top-width: 1px;
		border-left-width: 1px;
		border-bottom-width: 1px;
		border-style: Solid;
		border-bottom-style:dotted;
		border-color: rgb(47, 79, 79);
		color: #0000FF; /*#f7ff5b;	/*#0146ba;	/*rgb(252, 255, 190); */
		font-size: 12px;
		font-weight: bold;
		margin: 0px 0px 0px 0px;
		cursor: pointer;
		background-color: #88C8f7;	/*rgb(100, 160, 199); */
	/* ▼文字影 */
		text-shadow: #7b7b7b 1px 1px 3px; /* FireFox, Webkit, Opera */
		}
	#master_content .accordionHeaderSelectedSub a {
		color: rgb(255, 255, 255);
		text-decoration: none;
		}
	#master_content .accordionHeaderSelectedSub a:hover {
		text-decoration: underline;
		}

.accordionContentSub {
		padding: 3px 3px 3px 5px;
		border-width: 0px;
		border-left-width: 1px;
		border-bottom-width: 0px;
		border-style: Solid;
		border-color: rgb(47, 79, 79);
		background-color: #88C8F7;	/*rgb(100, 160, 199);  /*rgb(125, 184, 255);*/
		font-size: 12px;
		}
#MenuTable a {
	font-style:normal;
	background: none;
	box-shadow: none;
	outline: none;
	border-style:none;
	font-weight:bold;
	Color:White;
	Font-Size:10pt;
}
/* ここで指定することで、「ログイン」だけの設定が有効となる */
/*a[title$="ログインページへ戻ります"] {	*/
/*	font-style:normal;	*/
/*	background: none;	*/
/*	box-shadow: none;	*/
/*	outline: none;	*/
/*}	*/
/* * html #MainContent{ */
/*	padding-top: 0px;	*/
/*}	*/
#MainContent{
	_padding-top: 0px;		/*IE6*/
}
#back-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	/*margin-left: 0px;*/
}
#back-top a {
	width: 90px;
	display: block;
	text-align: center;
	/*font: 11px/100% Arial, Helvetica, sans-serif;*/
	padding: 15px 0;
	text-transform: none;       /*uppercase;*/
	text-decoration: none;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 24%, rgba(229,229,229,0.8) 81%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,rgba(255,255,255,0.5)), color-stop(81%,rgba(229,229,229,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 24%,rgba(229,229,229,0.8) 81%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 24%,rgba(229,229,229,0.8) 81%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 24%,rgba(229,229,229,0.8) 81%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 24%,rgba(229,229,229,0.8) 81%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#cce5e5e5',GradientType=0 ); /* IE6-9 */
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 8%, rgba(229,229,229,0.8) 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,rgba(255,255,255,0.8)), color-stop(92%,rgba(229,229,229,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 8%,rgba(229,229,229,0.8) 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 8%,rgba(229,229,229,0.8) 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 8%,rgba(229,229,229,0.8) 92%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 8%,rgba(229,229,229,0.8) 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#cce5e5e5',GradientType=0 ); /* IE6-9 */
	color: #000;
}
.camframe {
	border: 3pc ridge silver;
	border-spacing: 1px;
	border-collapse:separate;
	padding:0px;
}
.colMenuFrame {
	height:70%;
	width:60px;
	background-color: rgba(255,212,0,0.9);
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	margin-left:2px;
	padding: 0px;
	margin: 0px;
}
.colMenuTextPos {
	vertical-align: middle;
	text-align:center;
	height: 100%;
	width:80%;
	margin: 0px;
}
.colMenuText {
	vertical-align: middle;
	font-family:'メイリオ',
			'Meiryo',
			'Hiragino Kaku Gothic Pro',
			'ヒラギノ角ゴ Pro W3',
			'Hiragino Kaku Gothic Pro',
			'Osaka',
			'ＭＳ Ｐゴシック',
			sans-serif;
	font-size: 11pt;
	color:#0000DF;
	margin: 0px 0px 0px auto;
}
/*MasterPageからの移動*/
.style1{
	border-left: 1px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 0px solid #FFFFFF;
	-ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffccff00,endColorStr=#ff99ff00,gradientType=2);
	background-color: #000047;
	background-image: url('../img/TblGradMaster.png');
	background-repeat: repeat-x;
	background-position: left top;
	min-width: 200px;
	width: auto;
	height: 29px;
}
.style2{
	border-left: 1px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 0px solid #FFFFFF;
	-ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffccff00,endColorStr=#ff99ff00,gradientType=2);
	background-color: #000047;
	background-image: url('../img/TblGradMaster.png');
	background-repeat: repeat-x;
	background-position: left top;
	padding: 0px 0px 0px 0px;
	table-layout: fixed;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-size: 9pt;
	width: 130px;
	min-width: 130px;
	margin: 0px auto 0px auto;
	text-align: center;
	height: 29px;
}
/*最新データ表示用*/
.LastUpdTblCell {
	padding-right: 10px;
}
.conHeightWord{
	font-size: 13pt;
	fill:darkgreen;
	text-anchor:start;
}
.conHeightBox{
	fill:rgba(00,210,00,0.2);
	stroke:green;
	stroke-width:3;
}
.conHeightLine{
	stroke:green;
	stroke-width:3;
	stroke-dasharray:5 4;
}
.accordionMenuHeader {
	z-index:3;
	display:inline;
	border-style: none;
	/*position: fixed;*/
	float:left;
	background-color: transparent; /*#0146BA;*/
	min-width:100px;
	/* margin:64px 0px 0px 1px;*/
	margin:2px 0px auto 5px;
	padding:0px;     /*2px 5px 2px 5px;			*/
	height:auto;
	color: Gold;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	vertical-align:middle;
		/*border-radius: 7px;         /* CSS3 */
	/*box-shadow: 2px 1px 3px #444;*/
	/*overflow: hidden;*/
}
.accordionMenuLabel{
	font-size: 13px;
	color:Gold;
	border-style:none;
}
.leftspace10 {
	border-style:none;
	margin-left:10px;
	vertical-align: middle;
}
.invisible{
	visibility:hidden;
	display: none;
}
#modal-Ques {
	width: 50% ;
	margin: 0 ;
	padding: 10px 20px ;
	border: 2px solid #aaa ;
	background: #fff ;
	position: fixed ;
	display: none ;
	z-index: 2 ;
}
#modal-overlay {
	z-index: 1 ;
	display: none ;
	position: fixed ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 120% ;
	background-color: rgba( 0,0,0, 0.75 ) ;
}
.button-link {
	color: #00f ;
	text-decoration: underline ;
}
.button-link:hover {
	cursor: pointer ;
	color: #f00 ;
}
.blinkback {
  background-color: #ff0000;
  animation: bg-color 1200ms infinite;
  -webkit-animation: bg-color 1200ms infinite;
}
@-webkit-keyframes bg-color {
  0% { background-color: #ff0000; }
 50% { background-color: #FFFFFF; }
100% { background-color: #ff0000; }
}
@keyframes bg-color {
  0% { background-color: #ff0000; }
 50% { background-color: #FFFFFF; }
100% { background-color: #ff0000; }
}
.asyncloader{
	border-style:none;
	width:24px;
	height:24px;
	vertical-align:middle;
	/*visibility:hidden;*/
	display: none;
}
.rg{
	position: absolute;
	top:1px;
}
