.tooltipster-custom {
	border-radius: 5px; 
	border:3px ridge #FF7171;
	background: #ffbfbf;       /*#FFC8C8;	/*#DC3;*/
	color: #003737;	/*#11C;*/
	opacity: 0.95;
	-moz-box-shadow: 3px -3px 6px #444 ,3px 3px 6px #444,-3px 3px 6px #444,-3px -3px 6px #444;     /* Firefoxóp*/
	-webkit-box-shadow: 2px -2px 6px #444 ,3px 3px 6px #444,-2px 2px 6px #444,-2px -2px 6px #444;  /*Safari,Google Chromeóp*/
	box-shadow: #444 2px -2px 6px, #444 3px 3px 6px, #444 -2px 2px 6px, #444 -2px -2px 6px; /* 10 10 30 */	
}
.tooltipster-custom .tooltipster-content {
	font-family:'ÉÅÉCÉäÉI',
				'Meiryo',
				'Hiragino Kaku Gothic Pro',
				'ÉqÉâÉMÉmäpÉS Pro W3',
				'Osaka',
				'ÇlÇr ÇoÉSÉVÉbÉN',
				sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 0px 6px 5px 6px;
}