<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <appSettings>
    <add key="WijmoTheme" value="cobalt"/>
  </appSettings>
  <system.web>
    <!--セッションデータ、ビューステートを暗号化-->
    <trace enabled="true" pageOutput="true"/>
    <!--<machineKey validation="AES"/>-->
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps"/>
    <customErrors defaultRedirect="~/CustomError.html"/>
    <httpHandlers>
      <add path="c1chartimage.aspx" verb="*" type="C1.Web.C1WebChart.ImageHttpHandler,C1.Web.C1WebChart.4"/>
      <remove path="*.asmx" verb="*"/>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add verb="GET" path="WebResource.axd" type="System.Web.Handlers.AssemblyResourceLoader"/>
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--ポストバックの改竄を防止-->
    <pages enableViewStateMac="true" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <!--<pages enableViewStateMac="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">-->
      <!--<namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>-->
    </pages>
    <!--
            クライアント リダイレクトの URL を完全に限定する
            一部のモバイル デバイスでは、クライアント リダイレクトの URL を完全に限定する必要があります。
        -->
    <httpRuntime requestValidationMode="2.0" useFullyQualifiedRedirectUrl="true"/>
    <!--
          Cookie のないデータ辞書を指定する
          これにより、ローカルの要求 URL クエリ文字列に辞書の内容が表示されます。
          Cookie のないデバイスでフォームの認証を行うためには、このコードが必要です。
        -->
    <mobileControls cookielessDataDictionaryType="System.Web.Mobile.CookielessData" allowCustomAttributes="true" sessionStateHistorySize="15"/>
    <deviceFilters>
      <filter name="isJPhone" compare="Type" argument="J-Phone"/>
      <filter name="isHTML32" compare="PreferredRenderingType" argument="html32"/>
      <filter name="isWML11" compare="PreferredRenderingType" argument="wml11"/>
      <filter name="isCHTML10" compare="PreferredRenderingType" argument="chtml10"/>
      <filter name="isGoAmerica" compare="Browser" argument="Go.Web"/>
      <filter name="isMME" compare="Browser" argument="Microsoft Mobile Explorer"/>
      <filter name="isMyPalm" compare="Browser" argument="MyPalm"/>
      <filter name="isPocketIE" compare="Browser" argument="Pocket IE"/>
      <filter name="isUP3x" compare="Type" argument="Phone.com 3.x Browser"/>
      <filter name="isUP4x" compare="Type" argument="Phone.com 4.x Browser"/>
      <filter name="isEricssonR380" compare="Type" argument="Ericsson R380"/>
      <filter name="isNokia7110" compare="Type" argument="Nokia 7110"/>
      <filter name="prefersGIF" compare="PreferredImageMIME" argument="image/gif"/>
      <filter name="prefersWBMP" compare="PreferredImageMIME" argument="image/vnd.wap.wbmp"/>
      <filter name="supportsColor" compare="IsColor" argument="true"/>
      <filter name="supportsCookies" compare="Cookies" argument="true"/>
      <filter name="supportsJavaScript" compare="Javascript" argument="true"/>
      <filter name="supportsVoiceCalls" compare="CanInitiateVoiceCall" argument="true"/>
      <!--<filter name="isDoCoMo" compare="Browser" argument="i-mode"/>
      <filter name="isAu" compare="Browser" argument="Phone.com"/>-->
      <!--<filter name="isSoftBank" compare="Browser" argument="NetFont" />
      <filter name="isSoftBank" compare="Browser" argument="VF-Browser" />-->
      <filter name="isSoftBank" type="Mlib.CapabilityEvaluators,Mlib" method="isSoftBank"/>
    </deviceFilters>
    <!--sessionState cookieless="AutoDetect"/-->
    <sessionState mode="InProc" cookieless="UseDeviceProfile" timeout="40"/>
    <!--<globalization requestEncoding="Shift-JIS" responseEncoding="Shift-JIS" fileEncoding="Shift-JIS"/>-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="ja-JP" fileEncoding="utf-8" uiCulture="ja-JP"/>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/login.aspx" timeout="2880" />-->
      <forms cookieless="UseCookies"/>
    </authentication>
    <roleManager enabled="true"/>
    <trust level="Full"/>
    <httpModules>
      <add name="UrlRoutingModule"
           type="System.Web.Routing.UrlRoutingModule,
           System.Web.Routing,
           Version=4.0.0.0,
           Culture=neutral,
           PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <modules>
      <add name="UrlRoutingModule"
     type="System.Eeb.Routing.UrlRoutingModule,
           System.Web.Routing,
           Version=4.0.0.0,
           Culture=neutral,
           PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <!--<handlers>
      <add name="c1chartimage.aspx" path="c1chartimage.aspx" verb="*" type="C1.Web.C1WebChart.ImageHttpHandler,C1.Web.C1WebChart.4" preCondition="integratedMode"/>
        </handlers>-->
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache"/>
        <add name="Pragma" value="no-cache"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>